<div class="info-button-container">
    <img data-info-target="#info-box" src="../../../static/img/question.png" id="info-button">
</div>
<div id="info-box-container">
    <div class="info-box" id="info-box">
        <div class="info-box-header">
            <div class="info-box-title">
                Help
            </div>
            <div class="close-button" id="close-button" data-close-button>&times;</div>
        </div>
        <div class="info-box-body">
            <p><strong>Need a hand getting started?</strong></p>
            <p>Here’s how you can make the most out of your journaling experience:</p>
            <ul>
                <li><strong>Home Sweet Home</strong>: Click the logo at the top left or the home button in the navbar to
                    return to the homepage at any time.</li>
                <li><strong>Manage Your Account</strong>: Customize your account settings from the top right corner.
                </li>
                <li><strong>Create a New Journal Entry</strong>: Begin a fresh entry by clicking the "Create Entry"
                    button on the left sidebar.</li>
                <li><strong>Save Your Thoughts</strong>: Don’t lose a word. Use the save button on the navbar to keep
                    your entries safe.</li>
                <li><strong>Share Your Journey</strong>: Send a PDF version of your journal entry via email with the
                    button on the navbar.</li>
                <li><strong>Download Your Day</strong>: Hit the download button on the navbar to save your journal entry
                    to your PC.</li>
                <li><strong>Visualize Your Story</strong>: Enhance your entries by adding images with the "Add Image"
                    button on the navbar. Click images to resize or hover and click x to delete an image!</li>
                <li><strong>Templates at Your Fingertips</strong>: Use the sidebar on the right to craft your entry from
                    an existing template.</li>
                <li><strong>Inspiration Station</strong>: Lacking inspiration? Type what you did today in the
                    AI-connected search box, and it will suggest creative prompts.</li>
                <li><strong>Mood Tracker</strong>: Set the tone of your journal entry by adjusting the mood slider to
                    reflect how you feel.</li>
            </ul>
            <p>All your writing and editing magic happens in the central part of the screen. So go ahead, make today's
                entry memorable!</p>
        </div>
    </div>
    <div id="overlay"></div>
</div>